
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
	height: 100vh ;
	background: #E4E9F7;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;

    /* ====Transition ===== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;


}

/* ===============SIDEBAR== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    /* ALTURA */
    height: 100%;
    /* ANCHO */
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
     
 

}

.sidebar .text{
    /* TAMAÑO */
    font-size: 20px;
    /* NEGRILLA */
    font-weight: 500;

    transition: var(--tran-03);
    
}


.sidebar li{
    height: 50px;
    margin-top: 50px;
    /* //NO LISTAR */
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    font-size: 22px;
}


.sidebar .image-text img{
    /* TAMAÑO IMAGEN */
    margin-left: -20px;
    width: 100px;
    border-radius: 6px;
}

.sidebar  header .image-text {
   display: flex;
   align-items: center;
}

.sidebar header .toggle{
    position: absolute;
    
    right: -13px;
    transform: translateY(-10%); 
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar.active header .toggle{
    transform: translateY(-50%) rotate(180deg);
}

.sidebar li a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    /* border-radius: 20px; */
    transition: var(--tran-04);

}

.sidebar li a:hover{
    background: var(--primary-color);
    border-radius: 20px;
}



/* //CUANDO SE APLIQUE EL HOVER CAMBIAR DE COLOR EL ICONO Y EL TEXTO */
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
    border-radius: 20px;
}

.sidebar .menu-bar{
    /* background: #707070; */
    
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -20px;

}

/* TAMÑO DEL SIDEBAR CUANDO SE DE CLICK */
.sidebar.active{
    width: 99px;
    
}

.sidebar.active .text{

    opacity: 0;
}



/* ===================MAIN =========================== */

.table{
	margin-left: 8rem;
	
}

.main{
    overflow-y: auto;
	height: 100vh;
	padding-bottom: 5rem;
    
}

.titulo{
    font-size: 50px;
    font-weight: 600;
    color: #707070;
    padding: 10px 40px;
    margin-left: 18rem;
    margin-top: 35px;
}

/* ===========MODULOS============= */
/* CONTAINER DE LA CAJA */


.overview-boxes{
    display: flex;
    width: 200%;
    /* justify-content: space-between; */
    /* padding: 0 20px; */
    /* ALTURA DE LOS BOXES */
    height: 590px;
}

.overview-boxes .box{
    display: flex;
    /* align-items: center; */
    background: #FFF;
    border-radius: 20px;
    margin-left: 8rem;
    /* margin-top: 10px; */
    /* PRIMERO ALTURA, LUEGO ANCHO */
    padding: 20px 30px;
    /* ANCHURA DE CADA CAJA */
    width: 50%;
    /* justify-content: center; */
     box-shadow: 5px 5px 30px #48529944;
}





.overview-boxes .box label{
   
    font-size: 30px;
    
}

.overview-boxes .box button{
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 17px;
    
    
}


.overview-boxes .box button:hover{
    background: var(--primary-color);
    /* background: #48529944; */
    
}


.overview-boxes .box input{
    height: 65px;
}


/* CONFIGURACION DE LA CAJA DE INGRESOS */
.overview-boxes .box .ingreso{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
   
    
}

/* CONFIGURACION DE LA CADA DE SALIDA */
.overview-boxes .box .salida{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}


/* TAMAÑOSS */


.overview-boxes .box h1{
    font-size: 50px;
    font-weight: 550;
}

.overview-boxes .box h6{
    font-size: 20px;
    /* font-weight: 700; */
}



/*=============STYLOS CAJA SALIDA============*/
.valor, .inputPlaca{
	border:white 8px groove;
}

/*=============STYLOS BUTTON/LAGOUT============*/
.bottom-content button{
	display:flex;
	flex-wrap: wrap;
	 font-size: 20px;
  border-radius: 15px;
 font-weight: 400px;
   padding: 10px 15px;
   text-decoration: none;
  
    
}


/*=====================NOTIFICACIONES=========*/
.btnwpp{
            bottom: 20px;
            right: 20px;
            width: 80px;
        }
        
.toastt{
	
	  position: fixed;
  top: 20px;
  right: 20px;
}


/*=============TAMAÑOSS============*/


@media (max-width: 480px) {
 
.sidebar{
    display:none;
    
}

.titulo{
	margin-left:2rem;
	}

.overview-boxes{
	gap: 50px;
    margin-left:-8rem;
    height:auto;
}

.overview-boxes .box{
	display:block;
	align-items: center;
	justify-content: center;
	
	
}

.ingreso, .salida{
	margin-left: 5rem;
}


  }




